<div class="footer" id="footer">
    <p>made with <a class="flink" href="https://hexo.io">Hexo</a> | theme: <a class="flink" href="https://github.com/sanjinhub/hexo-theme-geek">Geek</a></p>
    <p>
       enable/disable dark theme: 
       <label class="el-switch el-switch-green el-switch-sm" style="vertical-align: sub;">
          <input type="checkbox" name="switch" id="update_style">
          <span class="el-switch-style"></span>
       </label>
    </p>
</div>
<input type="hidden" id="web_style" value="<%= theme.style %>">
<%- js('libs/jquery.min.js') %>
<%- js('libs/highlight/highlight.pack.js') %>
<%- js('js/js.js') %>
