.posts
    .replay-btn
        background-color: #4b5e7b;
        width: 30px;
        color: #fff;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 100%;
        position: absolute;

    .post-title
        text-align: center;
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 0;
        
    .post-date
        text-align: right;
        margin-bottom: 10px;
        font-style: italic; 
    
    .post-content
        a
             color: #3C8593;

    .fhr
        margin-top: 20px;

    .highlight
        .gutter
            .hljs
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;

    .highlight 
        .code
            .hljs
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;