<div class="hd posts">
    <a href="/"><i class="fa fa-home replay-btn" aria-hidden="true"></i></a>
    <div class="post-title">
        <p>
            <%= page.title %>
        </p>
    </div>
    <hr>
    <img class="avatar" src="/img/avatar2.png" />
    <div class="post-content">
        <%- page.content %>
    </div>

</div>
