<div class="hd posts">
    <a href="/"><i class="fa fa-home replay-btn" aria-hidden="true"></i></a>
    <div class="post-title">
        <p>
            <%= page.title %>
        </p>
    </div>
    <div class="post-date">
        &lt;<%- full_date(page.date, '') %>&gt;
    </div>
    <hr>
    <div class="post-content">
        <%- page.content %>
    </div>

</div>